/*
=============================================================
ESTILOS DE MI APLICACION
=============================================================
*/

/*
Definicion de Fuentes de Texto
*/
@font-face {
  font-family: "Ruso"; /*Ruso es cualquier nombre*/
  src: url(../fonts/RussoOne-Regular.ttf);
}
@font-face {
  font-family: "Quick"; /*Quick es cualquier nombre*/
  src: url(../fonts/Quicksand-VariableFont_wght.ttf);
}

/*
Estilos con selectores de elemento
*/
body {
  font-family: Quick;
  font-size: 14px;
  margin: 0%;
}

h2 {
  font-family: Ruso;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 5px;
}

a {
  color: #333;
  transition: all 0.5s linear;
}

input,
select,
textarea,
button,
.btn {
  font-family: Quick;
  padding: 5px 10px;
  font-size: 1.5em;
  margin: 7px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

button,
btn {
  font-size: 1.1em;
  margin: 10px 1px;
  background-color: #eee;
  border: 1px solid #ccc;
}

/* 
FORMULARIO DE LOGIN
*/
div.form-login label {
  display: block;
  color: #fff;
  font-size: 1.5em;
}

.form-login {
  /*width: 50vw;*/
  border: 1px solid #333;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(
    30,
    30,
    30,
    0.7
  ); /*para poner transparente el formulario */
  backdrop-filter: blur(3px);
  text-align: center;
  margin-top: 100px;
}

div.form-login h2 {
  color: #fff;
  font-size: 2rem;
}
