/*
=============================================================
ESTILOS DE 
=============================================================
*/

body {
  background-color: #ccc;
}
h2 {
  color: #900;
}
p {
  color: #009;
  background-color: #ccc;
}
div {
  background-color: #bbb;
}

#cabecera {
  background-color: green;
}
.articulo {
  color: sienna;
}
