/*
=============================================================
ESTILOS DE MI APLICACION
=============================================================
*/

/*
Definicion de Fuentes de Texto
*/
@font-face {
  font-family: "Ruso"; /*Ruso es cualquier nombre*/
  src: url(../fonts/RussoOne-Regular.ttf);
}
@font-face {
  font-family: "Quick"; /*Quick es cualquier nombre*/
  src: url(../fonts/Quicksand-VariableFont_wght.ttf);
}

/*
Estilos con selectores de elemento
*/
body {
  font-family: Quick;
  font-size: 14px;
  margin: 0%;
}

h2 {
  font-family: Ruso;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 5px;
  font-family: Ruso;
}

a {
  color: #333;
  text-decoration: none;
  transition: all 0.7s linear; /*transicion de 0.7 seg a los enlaces para que cambie de color*/
}

input,
select,
textarea,
button,
.btn {
  font-family: Quick;
  padding: 5px 10px;
  font-size: 1.5em;
  margin: 7px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button,
btn {
  font-size: 1.1em;
  margin: 10px 1px;
  background-color: #eee;
  border: 1px solid #ccc;
}
.btn_oscuro {
  background-color: #333;
  color: #fff;
}
.btn_oscuro:hover {
  color: #eee;
  background-color: #555;
}

/* 
FORMULARIO DE LOGIN
*/
div.form-login label {
  display: block;
  color: #fff;
  font-size: 1.5em;
}

.form-login {
  /*width: 50vw;*/
  border: 1px solid #333;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(
    30,
    30,
    30,
    0.7
  ); /*para poner transparente el formulario */
  backdrop-filter: blur(3px);
  text-align: center;
  margin-top: 100px;
}

div.form-login h2 {
  color: #fff;
  font-size: 2rem;
}

/*
PAGINA PRINCIPAL
*/
.header {
  display: grid;
  grid-template-columns: 2fr 9fr 3fr;
  height: 90px;
  background-color: #333;
  color: #fff;
  position: sticky; /*mantiene su posicion arriba*/
  top: 0%;
  left: 0%;
}

/* .header {
  /* border: 1px solid #fff; 
} */

.header .top_menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; /* divide en 5 fracciones*/
  list-style: none; /*quita las viñetas de <ul>*/
  padding: 0;
  margin: 0;
}

.top_menu li,
.top_menu a {
  display: block;
  text-align: center;
  height: 90px; /*lo mismo que .header*/
  line-height: 90px;
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem; /*1.2rem respecto a la fuente del body*/
}
.top_menu a:hover {
  background-color: #555; /*hace que cambide color el fondo a un poco mas claro */
}
.menu_logo {
  width: 100%;
  margin: 10px 0; /* 10 arriba y 0 al costado*/
}

.header .box_social {
  display: block;
  margin: 0;
  text-align: center;
}
.box_social a {
  color: #fff;
  line-height: 90px;
  font-size: 3em;
  text-decoration: none;
}
.box_social a:hover {
  color: #bbb;
}

.banner {
  height: 600px;
  background-color: #eee;
  background-image: url("../img/bg_index.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain; /*se ajusta al cuadro contenedor*/
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /*3 columnas*/
  align-items: center;
}

.banner h1 {
  text-align: center;
  font-size: 3em;
}
.banner p {
  text-align: justify; /*texto justificado*/
  padding: 5px 20px; /* 5 arriba y 20 a los costados*/
}
.heading-developer {
  font-family: Quick;
  font-weight: bold;
}

.ultimos_trabajos {
  display: grid; /*calcula el ancho de la pantalla*/
  grid-template-columns: 1fr 1fr 1fr; /*define 3 columnas*/
  gap: 10px; /*espaciado de columnas*/
}
.ultimos_trabajos .work_item {
  padding: 10px;
  margin: 0%;
  border: 1px solid #ccc;
  border-radius: 7px;
}
.ultimos_trabajos img {
  width: 100%;
  height: 200px;
  overflow: hidden; /*corta la imagen a 200%*/
}
.ultimos_trabajos p {
  text-align: justify;
}
.contenedor_proyectos {
  margin: 10px;
}
.contenedor_proyectos h1 {
  text-align: center;
}

.contenedor_pie {
  background-image: url(../img/bg_login.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover; /* totalidad de la pantalla*/
  background-attachment: fixed; /*fijado para que se quede estatico*/
}
.contenedor_2filas {
  background-color: rgba(30, 30, 30, 0.7);
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-rows: 1fr 50px; /* division de dos filas: 1fr una fraccion y 50% es de 50 pixeles*/
  color: #fff;
}

.contenedor_listados {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px;
}
.contenedor_listados div {
  margin: 10px;
}
.contenedor_listados h2 {
  text-align: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 7px;
  margin-bottom: 7px;
}

.listado_pie {
  margin: 0;
  padding: 0;
  list-style: none;
}
.listado_pie li,
.listado_pie a {
  display: block;
  margin: 3px;
}

.listado_pie a {
  padding: 10px;
  background-color: rgba(80, 80, 80, 0.5);
  border-left: 5px solid #777;
  color: #fff;
}

.listado_pie a:hover {
  border-left: 4px solid #444;
  background-color: rgba(30, 30, 30, 0.8);
  color: #ccc;
}

.pie {
  text-align: center;
  line-height: 50px;
}

/*
------------------------------------------
PORTAFOLIO
------------------------------------------
*/
.item_portafolio {
  display: grid;
}
.cols_2_1 {
  grid-template-columns: 2fr 1fr;
}
.cols_1_2 {
  grid-template-columns: 1fr 2fr;
}
.imagen_portafolio {
  width: 100%;
  overflow: hidden;
}
.descripcion_proyecto {
  display: grid;
  align-items: center;
  padding: 0 30px;
  text-align: center;
}
.bg_negro {
  color: #fff;
  background-color: #333;
}

.contenedor_39 {
  display: grid;
  background-color: #eee;
  grid-template-columns: 3fr 9fr;
}

.barra_lateral {
  display: block;
  background-color: #ccc;
  min-height: 80vh; /*define una cant minima de espacio en el contenedor*/
}

.lista_barra h1 {
  padding: 10px;
  border-bottom: 1px solid #777;
}
.lista_barra ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.lista_barra li,
.lista_barra a {
  display: block;
}
.lista_barra a {
  margin: 5px;
  padding: 15px 5px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border-left: 4px solid #333;
  background-color: rgba(90, 90, 90, 0.85);
}
.lista_barra a:hover {
  border-left: 4px solid #555;
  background-color: rgba(120, 120, 120, 0.8);
}
